    <div class="wrap-gradient">
      <div class="grain"></div>
      <div class="liquid-metal"></div>
      <div class="gradient-slick">
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a0" class="circle-skyblue"></div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a1" class="circle-pink"></div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a2" class="circle-purple">
          <div class="subcircle-blue"></div>
        </div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a4" class="rectangle-beige"></div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a5" class="circle-yellow">
          <div class="subcircle-pink"></div>
        </div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a7" class="rectangle-blue">
          <div class="subrectangle-pink"></div>
        </div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92a9" class="circle-gradient-orange"></div>
        <div data-w-id="17b94862-1b92-cd40-16f1-f29799ff92aa" class="oval-pink"></div>
      </div>
    </div>