
      <div class="section-product-testimonials">
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="container-large">
              <div class="wrap-product-testimonials">
                <h2 class="h2-medium text-align-center">{{ 't1590c3d4' | t }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
{% schema %}
  {
    "name": "Testimonials",
    "tag": "div",
    "settings": []
  }
{% endschema %}

