
{%- assign headerSnippetPath = "header-pagegradient" -%}{%- assign wfPage = "62d24e8109ffbd5a0981df5c" -%}{%- assign bodyClasses = "" -%}

      <div class="section-blog-post-hero">
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="wrap-blog-post-hero-heading">
              <div class="blog-date">{{ article.published_at | date: '%B %d, %Y' }}</div>
              <h1 class="heading-blog">{{ article.title }}</h1>
            </div>
          </div>
        </div><img src="{{ article.image | img_url: '1920x' }}" loading="lazy" alt="" class="image-blog-hero">
        <div class="overlay-gradient-blog"></div>
      </div>
      <div class="section-blog-post-body">
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="container-large">
              <div class="wrap-blog-post-body">
                <div class="rich-text-white w-richtext">
                  {{ article.content }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="animate-diamond lower-left opacity-low">
          <div class="animate-diamond-in lower-left"></div>
        </div>
      </div>















{% comment %}
#############
Waiting for confirmation on the design on webflow
#############
{%- assign headerSnippetPath = "header-pagegradient" -%}{%- assign wfPage = "62d2af900e07ab02b4c8b0d3" -%}{%- assign bodyClasses = "" -%}

      <div class="section-cocktail-hero">
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="container-large">
              <div class="wrap-cocktail-hero">
                <div class="block-cocktail-heading">
                  <h1 class="mob-text-align-center"></h1>
                </div>
                <div class="block-about-polaroid"><img src="" loading="lazy" alt="" class="image-cocktail-main-polaroid"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-white-large">
          <div class="animate-billard">
            <div class="billiard"></div>
            <div class="billiard-ball"></div>
          </div>
        </div>
        <div class="animate-circle-grow small lower-right"></div>
        <div class="animate-circle-grow small top-right"></div>
        <div class="animate-circle-grow middle-left"></div>
        <div class="animate-diamond lower-right">
          <div class="animate-diamond-in lower-left"></div>
        </div>
      </div>
      <div class="section-cocktail-recipe">
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="container-large">
              <div class="wrap-cocktail-recipe">
                <div class="rich-text-white w-richtext"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endcomment %}