
      <div class="section-default-page">
        <div class="page-padding">
          <div class="padding-vertical">
            <div class="container-large">
              <div class="wrap-default-page">
                {{ page.content }}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-white-large"></div>
      </div>